:root {
    --pf_orange: #ed7d3a;
    --pf_orange_translucent: #ed7d3af0;
    --pf_magenta: #c04abc;
    --pf_magenta_translucent: #c04abcdf;
    --pf_blue: #279af1;
    --pf_blue_translucent: #279af1f0;
    --pf_navy: #0c1b33;
    --pf_text: #ffffff;
    --pf_background: #b6d8f2;
}

body {
    background-color: var(--pf_background);
    color: var(--pf_navy);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

div.header-container {
    position: sticky;
    top: 0;
    z-index: 99;
    padding: 20px;
}

div.header {
    border-radius: 100000px;
    background-color: var(--pf_blue_translucent);
    padding: 25px;
    margin: 0;
    box-shadow: 0 0 20px #00000060;
    backdrop-filter: blur(10px);
}

div.content {
    flex: 1;
}

div.products {
    margin-top: 30px;
    margin-bottom: 30px;
}

div.card {
    background: none;
    border: none;
    width: auto;
}

div.footer {
    margin-bottom: 0;
    text-align: justify;
    padding: 30px min(15%, 200px) 30px min(15%, 200px);
    border-radius: 30px 30px 0 0;
    background-color: var(--pf_orange);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

h5.card-title {
    text-align: center;
}

p {
    text-align: center;
}

p.copyright {
    text-align: center;
    font-size: small;
}

p.ack-country {
    margin-bottom: 0;
    font-size: small;
}

a.btn-outline-primary {
    border-color: var(--pf_magenta);
    color: var(--pf_magenta);
}

a.btn-outline-primary:hover {
    background-color: var(--pf_magenta);
    border-color: var(--pf_magenta);
}

a.btn-primary {
    border-color: var(--pf_blue);
    background-color: var(--pf_blue);
    color: var(--pf_text);
}

a.btn-primary:hover {
    background-color: var(--pf_blue_translucent);
    border-color: var(--pf_blue_translucent);
    scale: 105%;
}