@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

:root {
    /* Colour definitions */
    --pf-navy: #0c1b33;
    --pf-magenta: #c04abc;
    --pf-apple: #ceec97;
    --pf-sky: #279af1;
    --pf-pumpkin: #ed7d3a;
    --pf-white: #ffffff;
}

nav.navbar {
    /* Layout */
    --bs-navbar-padding-x: 16px;
    --bs-navbar-padding-y: 0;
    --bs-navbar-brand-padding-y: 0;
    --bs-navbar-nav-link-padding-x: 16px;

    /* Colour */
    background-color: var(--pf-navy);
}

button.navbar-toggler {
    --bs-navbar-toggler-padding-y: 25px;
    --bs-navbar-toggler-padding-x: 25px;

    --bs-btn-focus-box-shadow: none;
    /* Font */
    --bs-navbar-toggler-font-size: 20px;

    --bs-navbar-toggler-border-color: #00000000;
    --bs-navbar-color: var(--pf-apple);
    --bs-navbar-toggler-focus-width: 0;
}

button.navbar-toggler:focus-visible {
    box-shadow: none;
}

a.nav-link {
    /* Layout */
    --bs-nav-link-padding-x: 0;

    /* Font */
    --bs-nav-link-font-size: 18px;
    --bs-nav-link-font-weight: 500;

    /* Colour */
    --bs-nav-link-color: var(--pf-apple);
    --bs-nav-link-hover-color: var(--pf-pumpkin);
    --bs-nav-link-disabled-color: blend-color(var(--pf-navy), var(--pf-sky));
    --bs-navbar-active-color: var(--pf-pumpkin);
}