<footer class="footer py-5 mt-auto">
    <div class="container">
        <div class="row">
            <div class="col-6 col-md-2 mb-3">
                <h5>Section 1</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="/page1" class="nav-link p-0 text-body-secondary">Page 1</a></li>
                    <li class="nav-item mb-2"><a href="/page2" class="nav-link p-0 text-body-secondary">Page 2</a></li>
                    <li class="nav-item mb-2"><a href="/page3" class="nav-link p-0 text-body-secondary">Page 3</a></li>
                    <li class="nav-item mb-2"><a href="/page4" class="nav-link p-0 text-body-secondary">Page 4</a></li>
                    <li class="nav-item mb-2"><a href="/page5" class="nav-link p-0 text-body-secondary">Page 5</a></li>
                </ul>
            </div>
            <div class="col-6 col-md-2 mb-3">
                <h5>Section 2</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="/page6" class="nav-link p-0 text-body-secondary">Page 6</a></li>
                    <li class="nav-item mb-2"><a href="/page7" class="nav-link p-0 text-body-secondary">Page 7</a></li>
                    <li class="nav-item mb-2"><a href="/page8" class="nav-link p-0 text-body-secondary">Page 8</a></li>
                    <li class="nav-item mb-2"><a href="/page9" class="nav-link p-0 text-body-secondary">Page 9</a></li>
                    <li class="nav-item mb-2"><a href="/page10" class="nav-link p-0 text-body-secondary">Page 10</a>
                    </li>
                </ul>
            </div>
            <div class="col-6 col-md-2 mb-3">
                <h5>Section 3</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="/page11" class="nav-link p-0 text-body-secondary">Page 11</a>
                    </li>
                    <li class="nav-item mb-2"><a href="/page12" class="nav-link p-0 text-body-secondary">Page 12</a>
                    </li>
                    <li class="nav-item mb-2"><a href="/page13" class="nav-link p-0 text-body-secondary">Page 13</a>
                    </li>
                    <li class="nav-item mb-2"><a href="/page14" class="nav-link p-0 text-body-secondary">Page 14</a>
                    </li>
                    <li class="nav-item mb-2"><a href="/page15" class="nav-link p-0 text-body-secondary">Page 15</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-5 offset-md-1 mb-3">
                <form>
                    <h5>Acknowledgement of Country</h5>
                    <p>The Pantry Forge acknowledges the Traditional Custodians of the unceded land we operate on, the
                        Gweagal clan of the <a href="https://alc.org.au/land_council/tharawal/">Dharawal nation</a>. We
                        pay our respects to Elders past and present and recognise their continuing connection to
                        Country. We extend our respect to all Aboriginal and Torres Strait Islander peoples across
                        Australia.</p>
                </form>
            </div>
        </div>
        <div class="d-flex flex-column flex-sm-row justify-content-between pt-4 border-top">
            <p>Copyright © {{CURRENT_YEAR}} thepantryforge@gmail.com <br> All rights reserved.</p>

            <ul class="list-unstyled d-flex">
                <li class="ms-3 my-auto">
                    Find us on:
                </li>
                <li class="ms-3 my-auto">
                    <a class="link-body-emphasis h3" href="https://www.instagram.com/thepantryforge/" aria-label="Instagram">
                        <img height="36px" width="36px" src="/images/ig-logo.png" alt="Instagram">
                    </a>
                </li>
                <li class="ms-3 my-auto">
                    <a class="link-body-emphasis h3" href="https://www.facebook.com/thepantryforge/" aria-label="Facebook">
                        <img height="36px" width="36px" src="/images/fb-logo.png" alt="Facebook">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>
