<nav class="navbar navbar-expand-sm">
    <!-- The Pantry Forge -->
    <a href="/" class="navbar-brand">
        <picture>
            <source srcset="images/header.png" media="(min-width: 768px)">
            <img src="images/icon.png" alt="The Pantry Forge logo" class="header-image rounded-5" height="90px">
        </picture>
    </a>

    <!-- Hamburger -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <i class="bi bi-list"></i>
    </button>

    <!-- Links -->
    <div class="collapse navbar-collapse" id="navbarNav">
        <div class="me-auto"></div>
        <ul class="navbar-nav">
            <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
            <li class="nav-item"><a href="/faq" class="nav-link">FAQs</a></li>
            <li class="nav-item"><a href="/contact" class="nav-link">Contact Us</a></li>
        </ul>
    </div>
</nav>