nav.navbar {
    /* Layout */
    --bs-navbar-padding-x: 16px;
    --bs-navbar-padding-y: 0;
    --bs-navbar-brand-padding-y: 0;
    --bs-navbar-nav-link-padding-x: 16px;

    /* Colour */
    background-color: var(--pf-navy);
}

@media (min-width: 768px) {
    nav.navbar {
        /* Layout */
        border-radius: 0 0 2rem 2rem;
    }
}

button.navbar-toggler {
    /* Layout */
    --bs-navbar-toggler-padding-y: 25px;
    --bs-navbar-toggler-padding-x: 25px;

    /* Font */
    --bs-navbar-toggler-font-size: 20px;

    /* Colour */
    --bs-navbar-toggler-border-color: #00000000;
    --bs-navbar-color: var(--pf-apple);
    --bs-navbar-toggler-focus-width: 0;
}

a.nav-link {
    /* Layout */
    --bs-nav-link-padding-x: 0;

    /* Font */
    --bs-nav-link-font-size: 18px;
    --bs-nav-link-font-weight: 500;

    /* Colour */
    --bs-nav-link-color: var(--pf-apple);
    --bs-nav-link-hover-color: var(--pf-pumpkin);
    --bs-nav-link-disabled-color: blend-color(var(--pf-navy), var(--pf-sky));
    --bs-navbar-active-color: var(--pf-pumpkin);
}

@media (max-width: 767px) {
    img.header-image {
        padding: 15px 0;
    }
}
