
<div class="container-fluid about">
    <div class="row row-cols-auto justify-content-center">
        <div class="col-sm-12 col-lg-9 col-xxl-7">
            <p>At <i>The Pantry Forge</i>, we blend elegance with innovation, crafting beautiful, functional pieces that elevate your kitchen. Every product is individually designed, tested, and manufactured in-house for lasting quality.</p>
            <p>Premium kitchenware should be as responsible as it is refined. That's why we use eco-friendly materials like biodegradable PLA, reduce waste by thoughtfully designing prints, and ship using recycled cardboard. Every piece is made to last.</p>
            <p>Every item is proudly designed and manufactured in Sydney, Australia. We keep things local to ensure quality, reduce shipping time, and support a growing community of cookware lovers. When you buy from <i>The Pantry Forge</i>, you're backing an Aussie small business with a penchant for quality.</p>
        </div>
    </div>
</div>