<div class="container-fluid products">
    <div class="row row-cols-auto">
        <div class="col-sm-6 col-xl-3 col-lg-4 p-3">
            <div class="card">
                <img src="https://getbootstrap.com/docs/5.3/assets/brand/bootstrap-logo-shadow@2x.png" class="card-img-top" alt="Bootstrap Logo">
                <div class="card-body">
                    <h5 class="card-title">Product Name</h5>
                    <p class="card-text">Product description which tells you a bit about what the product is and why you should buy it.</p>

                    <div class="row justify-content-evenly">
                        <a href="#" class="btn btn-outline-primary col-5">Learn More</a>
                        <a href="#" class="btn btn-primary col-5">Buy</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>