:root {
    /* Colours */
    --pf-navy: #0c1b33;
    --pf-magenta: #c04abc;
    --pf-apple: #ceec97;
    --pf-sky: #279af1;
    --pf-sky-rgb: 39, 154, 241;
    --pf-pumpkin: #ed7d3a;
    --pf-pumpkin-rgb: 237, 125, 58;
    --pf-white: #ffffff;
    --pf-offwhite: #e5e5e5;
}
